.btn-primary {
    color: white;
    background-color: #e75c18;
    border: 1px solid #e75c18;
}

.btn-primary:hover {
    background-color: rgb(190, 65, 19);
    
}

.bg-primary {
    background-color: rgb(190, 65, 19);
}

.color-primary {
    color: #e75c18;
}

.border-primary {
    border-color: #e75c18;
}

.focus-border-primary:focus {
    border-color: #e75c18;
}

.main {
    margin-top: 60px;
}

button:disabled {
    opacity: 0.3;
    pointer-events: none;
}

